.board {
  display:grid;
  height:500px;
  width:500px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows:repeat(3,1fr);
  border:1px solid black;
  gap:2px;
  padding:2px;
  background-color:yellow;

}

.cell {
  display:flex;
  justify-content: center;
  align-items:center;
  text-align:center;
  background:lightyellow;
  cursor:pointer;
  font-size:50px;
  font-weight:800;
}

.container {
  display:flex;
  flex-direction:column;
  justify-content:center;

}

.restart {
  height:50px;
  width:80px;
  font-size:20px;
}